{% extends 'base.html' %}
{% block content %}

<h2> {{user.username}}'s profile </h2>

<div style="padding-left: 90%" >
{{user.profile.name}}
{{user.profile.surname}}
<br>
{{user.email}}
</div>

    <ul>

Your upcoming classes:
 {% for clss in user.profile.get_future_classes %}
 <li class="list-group-item" style="padding-right: 5%;">
     <a href="/gym/classes/{{clss.id}}"> {{clss.name_and_date}} </a>
     <a class="btn btn-danger" href="/accounts/profile/drop/{{ clss.id }}"> Drop </a>
 </li>

{%endfor%}
Your past classes:
 {% for clss in user.profile.get_not_rated_classes %}
 <li class="list-group-item">
     <a href="/gym/classes/{{clss.id}}"> {{clss.name_and_date}} </a>

     <a class="btn btn-success" href="/gym/add_rate/{{ clss.id }}"> Add rate </a>
 </li>

{%endfor%}
</ul>

 {% for clss in user.profile.get_rated_classes %}
 <li class="list-group-item">
     <a href="/gym/classes/{{clss.id}}"> {{clss.name_and_date}} </a>
 </li>

{%endfor%}
</ul>


{% endblock %}
