{% extends 'base.html' %}
{% block content %}

<h2> {{user.username}}'s profile </h2>


Info:
{{user.profile.name}}
{{user.profile.surname}}

<br>
    <ul>

Your upcoming classes:
 {% for clss in user.profile.get_future_classes %}
 <li class="list-group-item">
     <a href="/gym/classes/{{clss.id}}"> {{clss.name_and_date}} </a>
     <a class="btn btn-danger" href="/accounts/profile/drop/{{ clss.id }}"> Drop </a>
 </li>

{%endfor%}
Your past classes:
 {% for clss in user.profile.get_past_classes %}
 <li class="list-group-item">
     <a href="/gym/classes/{{clss.id}}"> {{clss.name_and_date}} </a>

    <h3> {{user.profile.rate}}  </h3>

     {% if not user.profile.rate %}
     <a class="btn btn-success" href="/gym/add_rate/{{ clss.trainer.id }}"> Add rate </a>
 {% endif %}
 </li>

{%endfor%}
</ul>

{% endblock %}