{% extends 'base.html' %}
{% block content %}




<li class="list-group-item"> <h2> {{clss.name}} </h2>  </li>
<li class="list-group-item"> {{clss.description}}  </li>
<li class="list-group-item"><a href="/gym/trainers/{{trainer.id}}"> {{trainer}} </a> </li>
<li class="list-group-item"> <h3> Ocena: {{clss.get_rate}} </h3> </li>





<h4>Places left: {{ clss.seats_left }}</h4>

{% if can_sign %}
<form action='/gym/favourited/{{clss.id}}' method='GET'>

  <button type='submit' class="btn btn-dark"> Sign for class </button>
  </form>
{%endif%}



{% endblock %}