{% extends 'base.html' %}

{% block content %}
    <div>
<div style="padding-left: 85%;">
  Hello {{user.username}}
</div>



 <ul class="list-group">
  {% if user.is_authenticated %}
      View upcomming classes:
  {%for class in object_list %}
  <li class="list-group-item"> <a href="gym/classes/{{class.id}}"> {{class.name}} </a>
  </li>

  {%endfor%}
      {% else %}
      <div class="text-center">
      Login to view content. If you don't have account sign up for free!
      </div>
  {%endif%}
</ul>
</div>


 
{% endblock %}
 