{% extends 'base.html' %}
{% block content %}



    <li class="list-group-item"> <h2> {{trainer}} </h2>  </li>
    <li class="list-group-item"> Email: {{trainer.email}}  </li>
    <li class="list-group-item"> Telefon: {{trainer.phone}} </li>
    <li class="list-group-item"> Ocena: {{ trainer.get_rate }} </li>


<br> <br>
Zajęcia:

{%for clss in trainer.classes_set.all%}
    <li class="list-group-item">  <a href="/gym/classes/{{clss.id}}"> {{clss.name}} </a> - {{clss.date}} - {{clss.description}} </li>
{%endfor%}


<br> <br>




{% endblock %}